@import "tailwindcss";

@theme {
  --color-darkPurple: #5d26e4;
  --color-deepPurple: #302b63;
  --color-veryDarkPurple: #24243e;
  --color-lightPurple: #d2c8ff;
  --color-mediumPurple: #9880ff;
  --color-nightBlue: #001022;
}

.phone-shadow{
  box-shadow: 6px 9px 44px 11px #302B63;
}

.rebotar{
  animation: rebotar 3s infinite;
}


@keyframes rebotar {
  0%, 100% {
    transform: translateY(-6%);
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}